input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

body {
  background-color: rgb(71, 70, 70) !important;
}

.card {
  margin-bottom: 15px;
}

.nav-item {
  font-size: larger;
  display: flex;
}

.cart-count {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(132, 132, 132);
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  margin-left: 5px;
}

.nav-link {
  display: flex !important;
}

.navbar {
  z-index: 10;
  width: 100%;
  background-color: rgb(71, 70, 70);
}

.cart-item {
  color: white;
  background-color: rgb(33, 37, 41);
  margin-bottom: 10px;
  align-items: center;
  padding-left: 0 !important;
  border-radius: 10px;
}

.cart-image {
  padding-left: 0 !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.total {
  color: white;
}

.quantity {
  text-align: center;
}

#cart-quantity {
  max-width: 120px !important;
}
